*,
*:after,
*:before {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif; }

.sp-button {
  padding: 0.75em 1em;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer; }

.sp-button--disabled {
  cursor: not-allowed;
  border-color: rgba(204, 204, 204, 0.7);
  color: rgba(204, 204, 204, 0.9); }

.sp-button--primary {
  background-color: #409eff;
  border-color: #409eff;
  color: #fff;
  transition: .3s background-color; }
  .sp-button--primary:hover {
    background-color: #5aabff;
    border-color: #5aabff; }
  .sp-button--primary:focus {
    background-color: #2791ff;
    border-color: #2791ff; }
  .sp-button--primary.sp-button--disabled {
    background-color: rgba(64, 158, 255, 0.1);
    border-color: rgba(64, 158, 255, 0.2);
    color: rgba(64, 158, 255, 0.5); }

.sp-button--success {
  background-color: #67c23a;
  border-color: #67c23a;
  color: #212529;
  transition: .3s background-color; }
  .sp-button--success:hover {
    background-color: #76c94c;
    border-color: #76c94c; }
  .sp-button--success:focus {
    background-color: #5dae34;
    border-color: #5dae34; }
  .sp-button--success.sp-button--disabled {
    background-color: rgba(103, 194, 58, 0.1);
    border-color: rgba(103, 194, 58, 0.2);
    color: rgba(103, 194, 58, 0.5); }

.sp-button--info {
  background-color: #909399;
  border-color: #909399;
  color: #fff;
  transition: .3s background-color; }
  .sp-button--info:hover {
    background-color: #9da0a5;
    border-color: #9da0a5; }
  .sp-button--info:focus {
    background-color: #83868d;
    border-color: #83868d; }
  .sp-button--info.sp-button--disabled {
    background-color: rgba(144, 147, 153, 0.1);
    border-color: rgba(144, 147, 153, 0.2);
    color: rgba(144, 147, 153, 0.5); }

.sp-button--warning {
  background-color: #e6a23c;
  border-color: #e6a23c;
  color: #212529;
  transition: .3s background-color; }
  .sp-button--warning:hover {
    background-color: #e9ad53;
    border-color: #e9ad53; }
  .sp-button--warning:focus {
    background-color: #e39725;
    border-color: #e39725; }
  .sp-button--warning.sp-button--disabled {
    background-color: rgba(230, 162, 60, 0.1);
    border-color: rgba(230, 162, 60, 0.2);
    color: rgba(230, 162, 60, 0.5); }

.sp-button--danger {
  background-color: #f56c6c;
  border-color: #f56c6c;
  color: #fff;
  transition: .3s background-color; }
  .sp-button--danger:hover {
    background-color: #f78484;
    border-color: #f78484; }
  .sp-button--danger:focus {
    background-color: #f35454;
    border-color: #f35454; }
  .sp-button--danger.sp-button--disabled {
    background-color: rgba(245, 108, 108, 0.1);
    border-color: rgba(245, 108, 108, 0.2);
    color: rgba(245, 108, 108, 0.5); }

.sp-radio__item {
  cursor: pointer;
  display: inline-block;
  font-size: 14px; }
  .sp-radio__item:not(:first-of-type) {
    margin-left: 2em; }

.sp-radio__item--checked {
  color: #409eff; }

.sp-radio__icon {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  margin-right: 0.5em;
  line-height: 1em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 1px solid grey;
  position: relative; }
  .sp-radio__icon::before {
    content: "";
    width: 4px;
    height: 4px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transition: .3s transform;
    transform: translate(-50%, -50%) scale(0); }

.sp-radio__text {
  line-height: 1; }

.sp-radio__input {
  display: none; }
  .sp-radio__input:checked ~ .sp-radio__text {
    color: #409eff; }
  .sp-radio__input:checked ~ .sp-radio__icon {
    background-color: #409eff;
    border-color: #409eff; }
    .sp-radio__input:checked ~ .sp-radio__icon::before {
      transform: translate(-50%, -50%) scale(1); }

.sp-radio__item--disabled {
  cursor: not-allowed;
  opacity: 0.2; }

.sp-checkbox__item {
  cursor: pointer;
  display: inline-block;
  font-size: 14px; }
  .sp-checkbox__item:not(:first-of-type) {
    margin-left: 2em; }

.sp-checkbox__item--checked {
  color: #409eff; }

.sp-checkbox__icon {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  margin-right: 0.5em;
  line-height: 1em;
  width: 1em;
  height: 1em;
  border-radius: 4px;
  border: 1px solid #bdbdbd;
  position: relative; }
  .sp-checkbox__icon::before {
    content: "";
    width: 0.4em;
    height: 0.56em;
    background-color: transparent;
    position: absolute;
    top: 40%;
    left: 50%;
    transition: .2s transform;
    transform: translate(-50%, -50%) scale(0) rotate(45deg);
    transform-origin: 50% 50%;
    border: solid white;
    border-width: 0 2px 2px 0; }

.sp-checkbox__item--indeterminate .sp-checkbox__icon {
  background-color: #409eff; }
  .sp-checkbox__item--indeterminate .sp-checkbox__icon::after {
    content: "";
    width: 0.5em;
    height: 0.2em;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: initial;
    transform: translate(-50%, -50%) scale(1);
    transform-origin: 50% 50%;
    border: none; }

.sp-checkbox__text {
  line-height: 1; }

.sp-checkbox__input {
  display: none; }
  .sp-checkbox__input:checked ~ .sp-checkbox__text {
    color: #409eff; }
  .sp-checkbox__input:checked ~ .sp-checkbox__icon {
    background-color: #409eff;
    border-color: #409eff; }
    .sp-checkbox__input:checked ~ .sp-checkbox__icon::before {
      transform: translate(-50%, -50%) scale(1) rotate(45deg); }

.sp-checkbox__item--disabled {
  cursor: not-allowed;
  opacity: 0.2; }

.sp-icon {
  top: .125em;
  position: relative;
  height: 1em;
  width: 1em; }

.p-toast {
  background-color: rgba(233, 236, 239, 0.2);
  border-color: rgba(233, 236, 239, 0.4);
  color: #e9ecef;
  padding: 0.7em 1.3em;
  border-radius: 6px;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.p-toast__close {
  cursor: pointer;
  padding: 0.5em;
  margin-right: -0.5em;
  color: rgba(108, 117, 125, 0.5);
  fill: rgba(108, 117, 125, 0.5);
  transition: .2s color, .2s fill; }
  .p-toast__close:hover {
    color: #6c757d;
    fill: #6c757d; }

.p-toast__description {
  margin: 0; }

.p-toast__icon {
  display: inline-block;
  margin-right: 0.3em; }

.p-toast--primary {
  background-color: rgba(64, 158, 255, 0.2);
  border-color: rgba(64, 158, 255, 0.4);
  color: #409eff; }

.p-toast__icon--primary {
  fill: #409eff; }

.p-toast--success {
  background-color: rgba(103, 194, 58, 0.2);
  border-color: rgba(103, 194, 58, 0.4);
  color: #67c23a; }

.p-toast__icon--success {
  fill: #67c23a; }

.p-toast--info {
  background-color: rgba(144, 147, 153, 0.2);
  border-color: rgba(144, 147, 153, 0.4);
  color: #909399; }

.p-toast__icon--info {
  fill: #909399; }

.p-toast--warning {
  background-color: rgba(230, 162, 60, 0.2);
  border-color: rgba(230, 162, 60, 0.4);
  color: #e6a23c; }

.p-toast__icon--warning {
  fill: #e6a23c; }

.p-toast--danger {
  background-color: rgba(245, 108, 108, 0.2);
  border-color: rgba(245, 108, 108, 0.4);
  color: #f56c6c; }

.p-toast__icon--danger {
  fill: #f56c6c; }

.toast-enter {
  opacity: 0.3;
  transform: translateY(-30px) translateX(-50%); }

.toast-enter-active {
  opacity: 1;
  transform: translateY(0px) translateX(-50%);
  transition: all 300ms ease-out; }

.toast-exit-active {
  opacity: 0.1;
  transform: translateY(-30px) translateX(-50%);
  transition: all 300ms ease-out; }

