$btn-p-x: 1em;
$btn-p-y: 0.75em;
$btn-default-bg: transparent;
$btn-default-border-color: #ccc;
$btn-default-round: 6px;

.sp-button {
  padding: $btn-p-y $btn-p-x;
  background-color: $btn-default-bg;
  border: 1px solid $btn-default-border-color;
  border-radius: $btn-default-round;
  cursor: pointer;
}

.sp-button--disabled {
  cursor: not-allowed;
  border-color: transparentize($btn-default-border-color, 0.3);
  color: transparentize($btn-default-border-color, 0.1);
}

@each $color, $value in $theme-color {
  .sp-button--#{$color} {
    @include button-variant($value);
  }
}
