$calender-border: 4px;
$calender-select-btn-p: 0.3em;
$calender-select-btn-span-p: 0.4em;
$calender-max-width: 300px;

.sp-calender {
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  border: 1px solid $gray-300;
  border-radius: $calender-border;
  background-color: $white;
  max-width: $calender-max-width;
}

.sp-calender__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

.sp-calender__body {
  padding: 0.5em;
}

.sp-calender__arrow {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  font-size: 23px;
  transition: .2s fill;
  &:hover {
    fill: $primary;
  }
}

.sp-calender__row {
  display: flex;
}

.sp-calender__month,
.sp-calender__year {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  padding: $calender-select-btn-p * 2;
  flex: 1;

  &:hover {
    color: $primary;
  }
}

.sp-calender__month--current,
.sp-calender__year--current {
  color: $primary;
  font-weight: 700;
}

.sp-calender__month--selected,
.sp-calender__year--selected {
  color: $primary;
}

.sp-calender__date {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  position: relative;
  padding: $calender-select-btn-p;
  flex: 1;
  & span {
    padding: $calender-select-btn-span-p;
    display: inline-block;
    border-radius: 50%;
    pointer-events: none;
  }
}

.sp-calender__date--inmonth {
  &:hover {
    color: $primary;
  }
}

.sp-calender__date--today {
  color: $primary;
  font-weight: 700;
}

.sp-calender__date--selected {
  & span {
    background-color: $primary;
    color: white;
    display: inline-block;
  }
}

.sp-calender__date--previous,
.sp-calender__date--next {
  color: $gray-500;
}

.sp-calender__days-name {
  display: flex;
  border-bottom: 1px solid $gray-300;
}

.sp-calender__day-name {
  flex: 1;
  font-size: 14px;
  text-align: center;
  padding-bottom: 0.7em;
  margin: 0;
  color: lighten($color: #000000, $amount: 60);
}

.sp-calender__view-control {
  cursor: pointer;
  
  &:not(:first-of-type) {
    margin-left: 0.5em;  
  }
}
