@mixin button-variant($color) {
  background-color: $color;
  border-color: $color;
  color: color-yiq($color);
  transition: .3s background-color;
  &:hover {
    background-color: lighten($color, $amount: 5);
    border-color: lighten($color, $amount: 5);
  }

  &:focus {
    background-color: darken($color, $amount: 5);
    border-color: darken($color, $amount: 5);
  }

  &.sp-button--disabled {
    background-color: transparentize($color, 0.9);
    border-color: transparentize($color, 0.8);
    color: transparentize($color, 0.5);
  }
}

@mixin toast-variant($color) {
  background-color: transparentize($color, 0.8);
  border-color: transparentize($color, 0.6);
  color: $color;
}
